config {
    testsDir "."
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"
    profile "test,docker"
    configFile "tests/nextflow.config"
    ignore "modules/nf-core/**/tests/*", "subworkflows/nf-core/**/tests/*"
    triggers "nextflow.config", "nf-test.config", "conf/test.config", "tests/nextflow.config", "tests/.nftignore", ".github/actions/nf-test/action.yml", ".github/workflows/nf-test.yml", "assets/schema_input.json", "bin/*", "nextflow_schema.json"

    // provides getAllFilesFromDir/removeNextflowVersion used by tests/default.nf.test
    plugins {
        load "nft-utils@0.0.3"
    }
}
