/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run Ferlab-Ste-Justine/cnv-post-processing -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '2.GB',
        time: '1.h',
        disk: '1.GB'
    ]

    withName: EXOMISER {
        memory = { 2.GB * task.attempt }
        time   = { 1.h  * task.attempt }
        cpus   = { 4     * task.attempt }
        disk   = { 1.GB  * task.attempt }
    }
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // By default, it is assumed that the test data is pre-downloaded and available in folder data-test
    input  = params.pipelines_testdata_base_path + '/samplesheet.csv'

    // Exomiser parameters
    exomiser_data_dir = "${params.pipelines_testdata_base_path}/reference/exomiser"
    exomiser_data_version = "2402"
    exomiser_genome = "hg38"
    exomiser_cadd_version = "1.7"
    exomiser_cadd_indel_filename = "gnomad.genomes.r4.0.indel.tsv.gz"
    exomiser_cadd_snv_filename  =  "whole_genome_SNVs.tsv.gz"
    exomiser_remm_version = "0.3.1.post1"
    exomiser_remm_filename = "ReMM.v0.3.1.post1.hg38.tsv.gz"
    exomiser_analysis_wes = "${params.pipelines_testdata_base_path}/reference/exomiser/test_exomiser_analysis.yml"
    exomiser_analysis_wgs = "${params.pipelines_testdata_base_path}/reference/exomiser/test_exomiser_analysis.yml"
    exomiser_local_frequency_path = "${params.pipelines_testdata_base_path}/reference/exomiser/local/local_frequency_test_hg38.tsv.gz"
    exomiser_local_frequency_index_path = "${params.pipelines_testdata_base_path}/reference/exomiser/local/local_frequency_test_hg38.tsv.gz.tbi"
}
